@{
    ViewData["Title"] = "Sign App";
}

<div class="text-center mt-5">
    <h1 class="display-4">Traffic SignApp Web</h1>    
</div>
<div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow" style="height: 10rem;width: 18rem;" data-toggle="tooltip" data-placement="top" title="Enter Load Number">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" asp-area="" asp-controller="Signatures" asp-action="Create">Enter Load Number</a></h3>
                </div>
            </div>            
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="height: 10rem;width: 18rem;" data-toggle="tooltip" data-placement="top" title="Enter Load Number">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" asp-area="" asp-controller="Signatures" asp-action="Index">Unsigned</a></h3>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow" style="height: 10rem;width: 18rem;" data-toggle="tooltip" data-placement="top" title="Enter Load Number">
                <div class="card-body" role="button">
                    <h3 class="card-title"><a class="nav-link text-dark stretched-link" asp-area="" asp-controller="Signatures" asp-action="Signed">Signed</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>